body{
margin-left: 20px;
}
button{
margin-top: 50px;
}
th{
  width: 150px;
}
table,td,th{
  border: 1px solid black;
  border-collapse: collapse;
}
.left{
  margin-left: 30px;
}
textarea{
  width: 200px;
}