body{
margin-left: 20px;
}
button{
margin-top: 50px;
}
th{
  width: 100px;
}
table,td,th{
  border: 1px solid black;
  border-collapse: collapse;
}
.left{
  margin-left: 30px;
}
textarea{
  width: 200px;
}
.kousinn{
  background-color: lightgreen;
  margin: 20px;
  margin-top: 50px;
}
.sakuzyo{
  background-color: red;
  margin: 20px;
  margin-top: 50px;
}
th,td{
  width:140px;
}
.delete{
  background-color: red;
}